<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waibao.demo.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.waibao.demo.entity.Company">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="company_password" jdbcType="VARCHAR" property="companyPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company, company_password
  </sql>
  <select id="selectByCompanyName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company
    where company = #{company,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.waibao.demo.entity.Company" useGeneratedKeys="true">
    insert into company (company, company_password)
    values (#{company,jdbcType=VARCHAR}, #{companyPassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.waibao.demo.entity.Company" useGeneratedKeys="true">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="company != null">
        company,
      </if>
      <if test="companyPassword != null">
        company_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="companyPassword != null">
        #{companyPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.waibao.demo.entity.Company">
    update company
    <set>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="companyPassword != null">
        company_password = #{companyPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.waibao.demo.entity.Company">
    update company
    set company = #{company,jdbcType=VARCHAR},
      company_password = #{companyPassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>